__pycache__/
*.pyc
.env
.venv
.ipynb_checkpoints/

# Tools
.mypy_cache/
.ropeproject/

# Config
pyproject.toml

# Environment variables
.env

# Kaggle
kaggle.json
.kaggle/

# Data
data/raw/*.csv
data/processed/*.csv
data/final/*.csv

#Database
*.db
